<div class="container error-page">
  <div class="container-inner">
    <h1 class="error-page__title">{{t 'oops'}}</h1>

    {{#is error 'unauthorized'}}
      <h2 class="h4">{{link 'sign_in'}}</h2>
    {{/is}}

    {{#is error 'forbidden'}}
      <h2 class="h4">{{t 'not_authorized'}}</h2>
    {{/is}}

    {{#is error 'not_found'}}
      <h2 class="h4">{{t 'nonexistent_page'}}</h2>
      <p>{{t 'mistyped_address_or_moved_page'}}</p>
    {{/is}}

    <p>
      {{#link 'help_center'}}
        {{t 'back_to_homepage'}}
      {{/link}}
    </p>
  </div>
</div>